/*
 * Chess Board
 * --------------------------------------------------
 */

#chessboard {
 	width: 600px;
	height: 600px;
	display: block;
}

#board {
	position: absolute;
	z-index: 0;
 	width: 600px;
	height: 600px;
	display: block;
}

@media (max-width: 768px) {
	#chessboard {
		width: 100vw;
		height: 100vw;
		display: block;
	}

	#board {
		width: 100vw;
		height: 100vw;
		display: block;
	}

	.col-xs-12 {
		padding: 0
	}
	.col-md-8 {
		padding: 0
	}
	.main {
		padding: 0
	}

	.chess {
		width: 10.833vw;
		height: 10.833vw;
	}

	.chess img{
		width: 10.833vw;
		height: 10.833vw;
	}
}

.chess {
	width: 65px;
	height: 65px;
	position: absolute;
	z-index: 1;
}

.chess.hover img {
 	display: none;
 }

 .panel{
 	height: 600px;
 }

.stone_img {
 	display: block;
 	width: 30px;
 	height: 30px;
 	margin-bottom: 10px
 }

.stone_cnt {
	font-size: 20px;
	margin: 10px 0 10px 0;
}

#restart {
	margin: 10px;
}